$btn-bg-color-light: #FFFFFF;
$btn-bg-color-dark: #D41443;
$btn-accent-bg-color-light: #ECEBEB;
$btn-accent-bg-color-dark: #C7133E;
$btn-text-color-light: #FFFFFF;
$btn-text-color-dark: #D41443;
$soc-bg-color: #FEA5BB;
$soc-accent-bg-color: #D41443;
$text-color-light: #FFFFFF;
$text-color-medium: #907E82;
$text-color-dark: #000000;
$text-accent-color: #D41443;
$time-text-color: #FFA5BA;
$title-color: #D41443;
$sub-title-color: #FFA5BA;
$products-title-color: #FFFFFF;
$products-1st-bg-color: #FFB8CA;
$products-2nd-bg-color: #F0D1A5;
$products-3rd-bg-color: #C2E297;
$contacts-title-1st-bg-color: #F0D1A5;
$contacts-title-2nd-bg-color: #C2E297;
$contacts-title-3rd-bg-color: #F0D1A5;
$link-color: #907E82;
$hero-bg-color: #FFB8CA;
$hero-circle-bg-color: #FFA5BA;
$mobile-menu-bg-color: #E17992;
$title-font-family: 'Titan One', cursive;
