<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantage-list list">
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-1"> 721 </span>
          liters of organic milk from our cows is used daily in the production
        </p>
      </li>
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-2"> 16kg </span>
          fresh berries and fruits per hour goes to the production of colorful
          balls
        </p>
      </li>
      <li class="advantage-item">
        <p class="advantage-text">
          <span class="advantage-text-top advantage-3"> 84 </span>
          variety of natural fillers available for any product
        </p>
      </li>
    </ul>
  </div>
</section>
