<section class="contacts-section" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts list">
      <li class="contacts__list">
        <div class="contacts__list-city">
          <p class="contacts__cafe-style">cafe</p>
          <div class="contacts__border">
            <h3 class="contacts__city">Chicago</h3>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list contacts__border">
            <li class="contacts__iten">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__iten">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contacts__link">
            <li>
              <a href="tel:+610383766284" class="contacts__call"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__call"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__list">
        <div class="contacts__list-city">
          <p class="contacts__foodtruck-style">food truck</p>
          <div class="contacts__border">
            <h3 class="contacts__city">Los Angeles</h3>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list contacts__border">
            <li class="contacts__iten">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__iten">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contacts__link">
            <li>
              <a href="tel:+610383766284" class="contacts__call"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__call"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__list">
        <div class="contacts__list-city">
          <p class="contacts__cafe-style">cafe</p>
          <div class="contacts__border">
            <h3 class="contacts__city">New York</h3>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul class="list contacts__border">
            <li class="contacts__iten">
              <p class="contacts__day">Monday - Friday</p>
              <p class="contacts__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__iten">
              <p class="contacts__day">Saturday - Sunday</p>
              <p class="contacts__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="list contacts__link">
            <li>
              <a href="tel:+610383766284" class="contacts__call"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contacts__call"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__button">
      <ul class="contacts__button-list list">
        <li>
          <button type="button" class="contacts__button-loc" data-location-open>
            Our Locations
            <svg class="contacts__button-icon" width="8" height="12">
              <use href="./images/icons.svg#arrow-r-2"></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            type="submit"
            class="contacts__button-franch"
            data-franchise-modal-open
          >
            Franchise
            <svg class="contacts__button-icon-fr" width="8" height="12">
              <use href="./images/icons.svg#arrow-r-3"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- modal -->

  <div class="backdrop-contacts is-hidden" data-location>
    <div class="modal-contacts">
      <button type="button" class="modal-contacts__close-btn" data-location-close>
        <svg class="modal__close-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <address class="contacts-address">
        <ul class="list">
          <li>
            <p class="contacts__city--modal">Chicago</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d454939.7873169953!2d-88.1176361226909!3d41.95567283111767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sicecream!5e0!3m2!1sen!2sua!4v1655074657184!5m2!1sen!2sua"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="contacts__maps"></iframe>
          </li>
          <li>
            <p class="contacts__city--modal">Los Angeles</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d492398.3006162771!2d-118.19813410097022!3d34.05358184739262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sicecream!5e0!3m2!1sen!2sua!4v1655074611079!5m2!1sen!2sua"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="contacts__maps"></iframe>
          </li>
          <li>
            <p class="contacts__city--modal">New York</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d387075.21073401!2d-74.1360014!3d40.7174643!3m2!1i1024!2i768!4f13.1!2m1!1sicecream!5e0!3m2!1sen!2sua!4v1655074517970!5m2!1sen!2sua"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="contacts__maps"></iframe>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>