<section class="customer-section">
  <article class="customer-feedback">
    <img
      class="customer-photo"
      srcset="./images/customer-1x.jpg 1x, ./images/customer-2x.jpg 2x"
      src="./images/customer-1x.jpg"
      width="85"
      height="85"
      alt="Photo of customer"
    />
    <p class="customer-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
  </article>
</section>
