<section class="section products__section" id="products">
  <div class="container">
    <p class="product__paragraph" lang="en">100% natural</p>
    <h2 class="product__title" lang="en">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">ice cream</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="dropdown">
          <button
            aria-label="Card Ice Cream"
            onclick="myFunctionIcecream()"
            class="dropbtn products-list__btn products-btn"
            type="button"
          >
            <svg class="products-btn__icon" width="22" height="14">
              <use href="/src/images/icons.svg#arrow-right"></use>
            </svg>
          </button>
          <div id="myDropdown" class="dropdown-content dropdown-icecream">
            <h4 class="products-list__title" lang="en">ice cream</h4>
            <p class="products--secondtext" lang="en">
              <span class="ingredients">Ingredients:</span> Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.
            </p>
            <p class="products--secondtext" lang="en">
              <span class="recommendations">Recommendations:</span> Lorem ipsum
              dolor sit amet.
            </p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">ice coffee</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="dropdown">
          <button
            aria-label="Card Ice Coffee"
            onclick="myFunctionIcecoffee()"
            class="dropbtn2 products-list__btn products-btn"
            type="button"
          >
            <svg class="products-btn__icon" width="22" height="14">
              <use href="/src/images/icons.svg#arrow-right"></use>
            </svg>
          </button>
          <div id="myDropdown2" class="dropdown-content dropdown-icecoffee">
            <h4 class="products-list__title" lang="en">ice coffee</h4>
            <p class="products--secondtext" lang="en">
              <span class="ingredients">Ingredients:</span> Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.
            </p>
            <p class="products--secondtext" lang="en">
              <span class="recommendations">Recommendations:</span> Lorem ipsum
              dolor sit amet.
            </p>
          </div>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title" lang="en">milkshakes</h3>
        <p class="products-list__text" lang="en">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="dropdown">
          <button
            aria-label="Card Milkshake"
            onclick="myFunctionMilkshake()"
            class="dropbtn3 products-list__btn products-btn"
            type="button"
          >
            <svg class="products-btn__icon" width="22" height="14">
              <use href="/src/images/icons.svg#arrow-right"></use>
            </svg>
          </button>
          <div id="myDropdown3" class="dropdown-content dropdown-milkshake">
            <h4 class="products-list__title" lang="en">milkshakes</h4>
            <p class="products--secondtext" lang="en">
              <span class="ingredients">Ingredients:</span> Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.
            </p>
            <p class="products--secondtext" lang="en">
              <span class="recommendations">Recommendations:</span> Lorem ipsum
              dolor sit amet.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<script>
  function myFunctionIcecream() {
    document.getElementById('myDropdown').classList.toggle('show');
  }
  function myFunctionIcecoffee() {
    document.getElementById('myDropdown2').classList.toggle('show2');
  }

  function myFunctionMilkshake() {
    document.getElementById('myDropdown3').classList.toggle('show3');
  }
</script>
