<section class="customer-section">
  <article class="customer-feedback container">
    <img
      class="customer-photo"
      srcset="
        ./images/reviews/customer-1x.jpg 1x,
        ./images/reviews/customer-2x.jpg 2x
      "
      src="./images/reviews/customer-1x.jpg"
      width="85"
      height="85"
      alt="Photo of customer"
    />
    <div class="customer-thumb">
      <p class="customer-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <p class="customer-name">Emily, Los Angeles</p>
    <ul class="customer-markers">
      <li class="marker-house-icon">
        <svg class="house-icon" width="12.4" height="11.84">
          <use href="./images/icons.svg#rev-home"></use>
        </svg>
      </li>
      <li class="marker"></li>
      <li class="marker"></li>
    </ul>
  </article>
</section>
