.advantages {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $advantages-bg-color;
  @include tablet {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}

.advantage-list {
  margin-top: -32px;
  @include tablet {
    display: flex;
    margin-left: -22px;
    margin-top: 0;
  }
  @include desktop {
    margin-left: -140px;
  }
}

.advantage-item {
  display: block;
  max-width: 230px;
  margin-top: 98px;
  @include tablet {
    margin-left: 22px;
    max-width: 165px;
    margin-top: 0;
  }
  @include desktop {
    margin-left: 140px;
    max-width: 288px;
  }
}
.advantage-text {
  @include font(12px, 1.7, 700, null);
  @include tablet {
    @include font(14px, 1.74, null, null);
  }
  @include tablet {
    @include font(16px, 1.76, null, 0.02);
  }
  width: 100%;
  &-top {
    @include font(36px, 1.14, 400, 0.04em);
    font-family: $title-font-family;
    color: $title-color;
    text-transform: uppercase;
    display: block;
    position: relative;
    margin-top: 66px;
    @include tablet {
      font-size: 48px;
      margin-top: 86px;
      margin-bottom: 13px;
    }
    @include tablet {
      font-size: 58px;
      margin-top: 90px;
      margin-bottom: 16px;
    }
  }
}
.advantage-1::before {
  content: '';
  position: absolute;
  width: 33px;
  height: 50px;
  //   background-color: red;
  left: 0;
  bottom: 56px;
  background-image: url(../images/advantages/advantage-1.svg);
  @include tablet {
    bottom: 106px;
  }
}
.advantage-2::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  //   background-color: red;
  left: 0;
  bottom: 56;
  background-image: url(../images/advantages/advantage-2.svg);
  //   fill: black;
  @include tablet {
    bottom: 106px;
  }
}
.advantage-3::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 50px;
  //   background-color: red;
  left: 0;
  bottom: 56px;
  background-image: url(../images/advantages/advantage-3.svg);
  @include tablet {
    bottom: 106px;
  }
}
