.customer-section {
  padding-top: 80px;
  padding-bottom: 48px;
}

.customer-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 320px) {
  }
}

.customer-photo {
  display: block;
  margin-bottom: 32px;
}

.customer-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;

  @media screen and (min-width: 320px) {
    max-width: 280px;
    min-height: 308px;

    padding-top: 43px;
    padding-right: 58px;
    padding-bottom: 26px;
    padding-left: 65px;
  }
}
